*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  height : 100%;
  width : 100%;
  overflow: hidden;
}

body{
  background-color: #548687;
  text-align: center;
}

h1{
  margin-top: 5vmin;
}

.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.8);
  font-size: 8vmin;
  cursor: pointer;
  background-color: #ffffc7;
  color:#191913;
}

.btns{
  display: flex;
  justify-content: center;
}

.p-msg{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 3vmin;
}
#reset{
  padding: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 1rem;
  margin-right: 5vmin;
}

#new-btn{
  padding: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 1rem;
  margin-top: 4vmin;
}

#msg{
  color:#ffffc7;
  font-size: 5vmin;
}

.msg-container{
  margin-top: 5vmin;
}

.hide{
  display: none;
}

.name{
  position: absolute;
  right: 2vmin;
  bottom: 1vmin;
  font-weight: bold;

}